<div style="height:150px;padding:100px;text-align:center">
  <p><%= link_to 'Importar batidas', importabatidas_path, class: 'btn btn-lg btn-success' %></p>
  <p class="lead">&Uacute;ltima importa&ccedil;&atilde;o: 01/06/2014 &agrave;s 18:05</p>
</div>